* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: sans-serif
}

.container{
  
}

.website-header {
 display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 65px;
  background-image: linear-gradient(to right, rgb(73, 120, 224) , rgb(17, 18, 104));
  color: whitesmoke;
  font-weight: bolder;
  margin-bottom: 15px;
}

.search-header {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 50px;
  height: 100px;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.input[type="text"] {
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
button{
  margin-bottom: 10px;
}

.input[type="submit"] {
  height: 50px;
  width: 600px;
  border: none;
  border-radius: 5px;
}

.current {
  display: flex;
  position: fixed;
  top: 10%;
  left: 21%;
  flex-direction: column;
  justify-content: space-between;
  width: 1099px;
  border: 1px solid black;
  height: 200px;
  padding:20px
}

.five-day-forecast{
  display: flex;
  flex-direction: row;
}

.five-day-header{
  position: absolute;
  top: 38%;
  left: 22%;
}

.day-one-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 45%;
  left: 22%;
  width: 125px;
  height: 100px;
  background-color: gray;
}
.day-two-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 45%;
  left: 33%;
  width: 125px;
  height: 100px;
  background-color: gray;
}

.day-three-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 45%;
  left: 44%;
  width: 125px;
  height: 100px;
  background-color: gray;
}

.day-four-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 45%;
  left: 55%;
  width: 125px;
  height: 100px;
  background-color: gray;
}

.day-five-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 45%;
  left: 66%;
  width: 125px;
  height: 100px;
  background-color: gray;
}

#selectable .ui-selecting {
  background: #feca40;
}
#selectable .ui-selected {
  background: #f39814;
  color: white;
}
#selectable {
  list-style-type: none;
  width: 255px;
  
}

#selectable li {
  margin: 10px;
  font-size: 16px;
  height: 20px;
  border-radius: 5px;
  width: 250px;
  margin-left: 30px;
}

.temp-writing{
  display: flex;
  flex-direction: row;
  
}

